//colors
$main-text-color: #18191F;
$active-header-btn: #FF7E03;
$disactive-header-btn: rgba(255, 126, 3, 0.3);
$main-bg: #FFFFFF;
$intro-bg-color: rgba(255, 243, 230, .6);
$minor-text-color: #18191F;
$clients-bg-color: rgba(244, 245, 247, 1);
$bg-modal: rgba(0, 0, 0, 0.8);
$third-elem-acardion: rgba(255, 243, 230, 1);
$second-elem-acardion: rgba(255, 200, 149, 1);
$text-color-acardion: #000;
$bg-color-top-half: rgba(244, 245, 247, 1);
$commtents-subtitle-color: #969BAB;
$comments-bg-color: rgba(255, 126, 3, 0.1);
$first-elem-news: rgba(255, 243, 230, 1);
$second-elem-news: #d7e8ed;
$third-elem-news: #d3d1cd;
$first-before-news: rgba(239, 161, 94, 1);
$second-before-news: rgba(174, 208, 219, 1);
$third-before-news: rgba(166, 162, 155, 1);
$posts-text-color: #000001;
$posts-bg-color: rgba(244, 245, 247, 1);
$test-border-color: rgba(36, 28, 41, 0.1);
$test-text-color: #000;
$test-btn-bg: #EFEFEF;
$waitlist-text-color: #474A57;
$waitlist-bg-color: #F4F5F7;
$waitlist-btn-color: #18191F;
$waitlist-error-color: #B00020;
$form-text-color: #0C1930;
$from-shadow-color: rgba(0, 0, 0, 0.1);
$form-border-color: #434343;
$form-placeholder-color: #7D7D7D;
$form-star-color: rgba(211, 32, 41, 1);
$form-main-text-color: #000000;
$footer-text-color: #D9DBE1;

//fonts
$fonts-cursive: 'Nanum Pen Script', cursive;
$fonts-major: 'Inter', sans-serif;
$fonts-minor:  'Source Sans Pro', sans-serif;

