@import '../../style_scss/main.scss';

.footer {
    background-image: url('../../assets/images/BG.jpg');
    padding: 95px 0px 25px 0px;
    overflow: hidden;
    &__main {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 100px;
    }
    &__bg {
        position: absolute;
        z-index: 0;
        opacity: .05;
        right: -30%;
        top: -95px;
    }
    &__subfooter {
        display: flex;
        justify-content: space-between;
        &--copypast {
            font-family: $fonts-major;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: $footer-text-color;
        }
    }
}

@media (max-width: 768px) {
  .footer {
    &__main {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 576px) {
    .footer {
      &__main {
        flex-direction: column;
      }
      &__subfooter {
        flex-direction: column;

        &--copypast {
          order: 1;
          margin-top: 50px;
        }
      }
    }
}