@import '../../style_scss/main.scss';

.projects {

    
    &__block {
        width: auto;
        height: auto;
        &--content {
            display: none;
            width: auto;
            height: 100%;
            padding: 0px 30px;
            position: absolute;
            top: 0px;
            left: 0px;
            overflow-y: auto;
            color: $main-bg;
            background: $bg-modal;
            box-sizing: border-box;
            &:hover {
                display: block;
                
            }
            
        }
        &--img {
            position: relative;
            width: 100%;
            height: auto;
            cursor: pointer;
            &:hover {

                ~.projects__post {
                    visibility: hidden;
                }
            }
        }
        
        &--title {
            padding-top: 40px;
            font-family: $fonts-major;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 40px;
        }
        &--text {
            font-family: $fonts-major;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
            color: $main-bg;
            padding-bottom: 20px;
        }
    }
    &__post {
        margin-bottom: 80px;
        &--title {
            font-family: $fonts-major;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: $main-text-color;
            margin-top: 20px;
        }
        &--text {
            font-family: $fonts-major;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
            color: $main-text-color;
            
        }
    }
    &__img {
        width: 100%;
        height: auto;
        &:hover {
            ~.projects__block--content {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .projects {
        &__block {
            &--title {
                font-size: 18px;
                line-height: 24px;
                padding-bottom: 10px;
            }
            
        }
        &__post {
            margin-bottom: 30px;
            &--title {
                font-size: 28px;
                line-height: 34px;
            }
            &--text {
                font-size: 18px;
                line-height: 24px;
                
            }
        }
    }
}