@import '../../style_scss/main.scss';

.comments {
    background-color: $comments-bg-color;
    &__container {
        padding: 65px 95px 80px 95px;
        position: relative;
        display: flex;
    }
    &__bg{
        &--quotes {
            position: absolute;
            opacity: .3;
            z-index: -1;
            left: 0;
        }
    }
    &__left {
        padding-top: 55px;
        padding-right: 15px;
        box-sizing: border-box;
        width: 50%;
    }
    &__right {
        padding-left: 15px;
        width: 50%;
        box-sizing: border-box;
    }
    &__title {
        font-family: $fonts-major;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: $main-text-color;
        padding-right: 30px;
    }
    &__subtitle {
        font-family: $fonts-major;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: $main-text-color;
        margin-bottom: 20px;
    }
}


@media (max-width: 991px) {
    .comments {
        &__container {
            padding: 30px;
        }
    }
}

@media (max-width: 768px) {
    .comments {
        &__container {
            flex-direction: column;
            padding: 0;
        }
        &__title {
            width: 100%;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
        }
        &__subtitle {
            width: 100%;
            font-style: 14px;
            line-height: 20px;
            text-align: center;
        }
        &__left{
            box-sizing: border-box;
            width: auto;
            padding: 0;
        }
        &__right {
            width: auto;
            padding: 0;
        }
    }
}