@import '../../style_scss/main.scss';

.footer{
    &__quick-links {
      z-index: 1;
      width: 23%;
        &--title {
            font-family: $fonts-major;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $main-bg;
            margin-bottom: 12px;
        }
        &--list {
          list-style: none;
        }
        &--elem {
          padding-top: 12px;
        }
        &--link {
          font-family: $fonts-major;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: $footer-text-color;
          text-decoration: none;
          outline: none;
          cursor: pointer;
          &:hover,&:focus {
            text-decoration: underline;
          }
          &:focus-visible {
            border: 4px solid blue;
          }
        }
        &--cursive {
            font-family: $fonts-cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: $active-header-btn;
            margin-left: 8px;
        }
    }
}

@media (max-width: 768px) {
  .footer {
    &__quick-links {
      width: 45%;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 576px) {
    .footer {
        &__quick-links {
          width: 100%;
        }
    }
}